.container {
  display: block;
  position: relative;
  //padding-left: 35px;
  //margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.wrap-word {
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /*Chrome & Safari */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* css-3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

.week-holder {
  margin-bottom: 10px;
}

.custom-button {
  margin: 0 5px;
  border: none;
  padding: 5px;
  background-color: #9ec1c4;
  cursor: pointer;
}

.selected {
  background-color: gray !important;
}

.no-data {
  padding: 50px;
  font-size: 30px;
}

.img-holder {
  img {
    max-width: 150px;
  }
}
