<table class= "table table-bordered">
  <thead>
      <tr>
        <th rowspan=2>Outlet Code</th>
        <th colspan=2>Monday</th>
        <th colspan=2>Tuesday</th>
        <th colspan=2>Wednesday</th>
        <th colspan=2>Thursday</th>
        <th colspan=2>Friday</th>
        <th colspan=2>Saturday</th>
        <th colspan=2>Sunday</th>
        <th colspan=2 rowspan=2>Overall Purity Score %</th>
      </tr>

      <tr>
        <th>Image</th>
        <th>Purity Score</th>

        <th>Image</th>
        <th>Purity Score</th>

        <th>Image</th>
        <th>Purity Score</th>

        <th>Image</th>
        <th>Purity Score</th>
        <th>Image</th>
        <th>Purity Score</th>

        <th>Image</th>
        <th>Purity Score</th>

        <th>Image</th>
        <th>Purity Score</th>
      </tr>

      <tr *ngFor="let report of reports; let i=index">
        <td>{{report.user.outlet_code}}</td>
        <td class="wrap-word" (click)="open(content, report, 0)">
          {{report.Monday?report.Monday.file.name:""}}
        </td>
        <td>{{report.Monday?report.Monday.purity:""}}</td>

        <td class="wrap-word" (click)="open(content, report, 1)">{{report.Tuesday?report.Tuesday.file.name:""}}</td>
        <td>{{report.Tuesday?report.Tuesday.purity:""}}</td>

        <td class="wrap-word" (click)="open(content, report, 2)">{{report.Wednesday?report.Wednesday.file.name:""}}</td>
        <td>{{report.Wednesday?report.Wednesday.purity:""}}</td>

        <td class="wrap-word" (click)="open(content, report, 3)">{{report.Thursday?report.Thursday.file.name:""}}</td>
        <td>{{report.Thursday?report.Thursday.purity:""}}</td>

        <td class="wrap-word" (click)="open(content, report, 4)">{{report.Friday?report.Friday.file.name:""}}</td>
        <td>{{report.Friday?report.Friday.purity:""}}</td>

        <td class="wrap-word" (click)="open(content, report, 5)">{{report.Saturday?report.Saturday.file.name:""}}</td>
        <td>{{report.Saturday?report.Saturday.purity:""}}</td>

        <td class="wrap-word" (click)="open(content, report, 6)">{{report.Sunday?report.Sunday.file.name:""}}</td>
        <th>{{report.Sunday?report.Sunday.purity:""}}</th>

        <td>{{report.purityScore}}</td>
      </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Report</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-3 img-holder">
        <img src="{{selectedReport[selectedDay].file.url}}" *ngIf="selectedReport[selectedDay]">
      </div>
      <div class="col-9">
        <div class="week-holder">
          <button *ngFor="let week of weeks" (click)="selectedDay = week" class="custom-button" [ngClass]="{'selected': selectedDay == week}">{{week}}</button>
        </div>

        <div *ngIf="selectedReport[selectedDay]">
          <div class="form-group row">
            <label for="createdAt" class="col-sm-3 col-form-label">Upload Date & Time</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext" id="createdAt" value="{{selectedReport[selectedDay].created_at}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">CSM</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext" id="name" value="{{selectedReport.user.CSM_NAME}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="imageName" class="col-sm-3 col-form-label">Image Name</label>
            <div class="col-sm-9">
              <input type="text" readonly class="form-control-plaintext" id="imageName" value="{{selectedReport[selectedDay].file.name}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="day" class="col-sm-3 col-form-label">Day Count</label>
            <div class="col-sm-9">
              <input type="text" class="form-control-plaintext" id="day" [value]="selectedReport[selectedDay].status === 'APPROVED' ? 1 : 0">
            </div>
          </div>

          <div class="form-group row">
            <label for="msisdn" class="col-sm-3 col-form-label">Msisdn</label>
            <div class="col-sm-9">
              <input type="text" class="form-control-plaintext" id="msisdn" value="{{selectedReport[selectedDay].user.msisdn}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="tse_name" class="col-sm-3 col-form-label">Area</label>
            <div class="col-sm-9">
              <input type="text" class="form-control-plaintext" id="tse_name" value="{{selectedReport[selectedDay].user.state}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="clarity" class="col-sm-3 col-form-label">Clarity</label>
            <div class="col-sm-9">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="clarity" [value]="1" [checked]="selectedReport[selectedDay].clarity">
                <label class="form-check-label" for="clarity">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="clarity2" [value]="0"  [checked]="!selectedReport[selectedDay].clarity">
                <label class="form-check-label" for="clarity2">No</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="imageSize" class="col-sm-3 col-form-label">Image Size</label>
            <div class="col-sm-9">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="imageSize" id="imageSize" [value]="1"  [checked]="selectedReport[selectedDay].image_size">
                <label class="form-check-label" for="imageSize">Full</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="imageSize" id="imageSize2" [value]="0" [checked]="!selectedReport[selectedDay].image_size">
                <label class="form-check-label" for="imageSize2">Incomplete</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="purity" class="col-sm-3 col-form-label">Purity</label>
            <div class="col-sm-9">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="purity" id="purity" [value]="1" [checked]="selectedReport[selectedDay].purity">
                <label class="form-check-label" for="purity">Pure</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="purity" id="purity2" [value]="0" [checked]="!selectedReport[selectedDay].purity">
                <label class="form-check-label" for="purity2">Impure</label>
            </div>
            </div>
          </div>
        </div>

        <div  *ngIf="!selectedReport[selectedDay]" class="no-data">
          No Chiller Uploaded
        </div>

      </div>
    </div>
  </div>
</ng-template>

