<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-1 d-none d-md-inline-flex col-md-6 col-lg-8"></div>
  <div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="mb-3">
        <img src="assets/images/sign_in_logo.jpg" class="avatar-lg mb-1" alt="">
        <p class="ff-headers text-uppercase">Sign in to your account</p>
      </div>
      <fieldset class="form-group">
        <label class="form-control-label">
          Enter your username
        </label>
        <input type="text" class="form-control" placeholder="username" [formControl]="form.controls['username']" [ngClass]="{'is-invalid': form.controls['username'].hasError('required') && form.controls['username'].touched}"/>
        <div class="invalid-feedback" *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched">Username is required.</div>
      </fieldset>
      <fieldset class="form-group">
        <label class="form-control-label">
          Enter your password
        </label>
        <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [ngClass]="{'is-invalid': form.controls['password'].hasError('required') && form.controls['password'].touched}"/>
        <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
        <!--<a [routerLink]="['/authentication/forgot']" class="form-text"><small>Recover password</small></a>-->
      </fieldset>
      <!--<div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Stay logged in</label>
      </div>-->
      <div class="block"></div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
      <!--<a class="btn btn-outline-primary btn-link" [routerLink]="['/authentication/signup']">Create an account!</a>-->
    </form>
  </div>
</div>
<toaster-container></toaster-container>
