.score-container {
  background: #d5fafd;
  padding: 40px 0 40px 40px;
  font-size: 15px;
  font-weight: 500;

  .number-container {
    margin-bottom: 30px;

    .number-holder {
      font-size: 20px;
    }
  }
}

.btn-bottom {
  position: absolute;
  bottom: 15px;
}

/*.image-zoom {
  z-index: 2;
  border: 2px solid gray;
  display: inline-block;
  position: absolute;
  width: 250px;
  height: 100%;
  overflow: hidden;
}*/

.modal-backdrop.show {
  opacity: 0.8;
}

/*.ngxImageZoomContainer {
  img{
    max-width: 100%;
    :hover {
      cursor: zoom-in;
    }
  }
}*/

/*.ngxImageZoomFullContainer {
  max-height: 400px;
  max-width: 200px;
}*/

.modal-xxl {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}
