<div class="row container-fluid" *ngIf="chiller">
  <div class="col-3" (click)="open(content)">
    <img
      [imageZoom]="chiller.file.url"
      [src]="chiller.file.url"
      [style.width.px]="200"
      [style.height.px]="400"
      [lensWidth]="400"
      [lensHeight]="300"
      [windowPosition]="2"
    >
  </div>
  <div class="col-6">
    <form [formGroup]="chillerForm">

      <div class="form-group row">
        <label for="createdAt" class="col-sm-3 col-form-label"> Upload Date & Time</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="createdAt" formControlName="createdAt">
        </div>
      </div>

      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">CSM</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="name" formControlName="name">
        </div>
      </div>

      <div class="form-group row">
        <label for="imageName" class="col-sm-3 col-form-label">Image Name</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="imageName" formControlName="imageName">
        </div>
      </div>

      <div class="form-group row">
        <label for="day" class="col-sm-3 col-form-label">Day Count</label>
        <div class="col-sm-9">
          <input type="text" class="form-control-plaintext" id="day" formControlName="day">
        </div>
      </div>

      <div class="form-group row">
        <label for="msisdn" class="col-sm-3 col-form-label">Msisdn</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="msisdn" formControlName="msisdn">
        </div>
      </div>

      <div class="form-group row">
        <label for="tse_name" class="col-sm-3 col-form-label">Area</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="tse_name" formControlName="state">
        </div>
      </div>

      <div class="form-group row">
        <label for="clarity" class="col-sm-3 col-form-label">Clarity</label>
        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="clarity" [value]="1" formControlName="clarity">
            <label class="form-check-label" for="clarity">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="clarity2" [value]="0" formControlName="clarity">
            <label class="form-check-label" for="clarity2">No</label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="imageSize" class="col-sm-3 col-form-label">Image Size</label>
        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="imageSize" id="imageSize" [value]="1" formControlName="imageSize">
            <label class="form-check-label" for="imageSize">Full</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="imageSize" id="imageSize2" [value]="0" formControlName="imageSize">
            <label class="form-check-label" for="imageSize2">Incomplete</label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="purity" class="col-sm-3 col-form-label">Purity</label>
        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="purity" id="purity" [value]="1" formControlName="purity">
            <label class="form-check-label" for="purity">Pure</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="purity" id="purity2" [value]="0" formControlName="purity">
            <label class="form-check-label" for="purity2">Impure</label>
          </div>
        </div>
      </div>

      <div class="form-group row" appPermissionBind [role]="'MODERATOR'">
        <label for="mRemark" class="col-sm-3 col-form-label"> Remark </label>
        <div class="col-sm-9">
          <textarea class="form-control" id="mRemark" formControlName="moderatorRemark" rows="3"></textarea>
        </div>
      </div>

      <div class="form-group row" appPermissionBind [role]="'ADMIN'">
        <label for="remark" class="col-sm-4 col-form-label"> Moderator Comment </label>
        <div class="col-sm-8">
          <textarea class="form-control" id="amRemark" formControlName="moderatorRemark" rows="2"></textarea>
        </div>
        <label for="remark" class="col-sm-4 col-form-label"> Admin Comment </label>
        <div class="col-sm-8">
          <textarea class="form-control" id="remark" formControlName="adminRemark" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3">
    <div class="row score-container" *ngIf="chillerCount">
      <div class="col-12 number-container">
        Total Audit for a Day
        <div class="number-holder">{{chillerCount.total}}</div>
      </div>
      <div class="col-12 number-container">
        Audits Completed
        <div class="number-holder">{{chillerCount.completed}}</div>
      </div>
    <div class="col-12 number-container">
        Remaining Audits
        <div class="number-holder">{{chillerCount.remaining}}</div>
      </div>
    </div>

    <div class="row">
      <button class="btn btn-primary btn-bottom" (click)="submitDetails()" appPermissionBind [role]="'MODERATOR'" [disabled]="chiller.status === 'APPROVED'">Submit</button>
    </div>
    <div class="row btn-bottom">
      <div class="col-6">
        <button class="btn btn-primary" (click)="openConfirmation(confirmation, 'APPROVE')"  appPermissionBind [role]="'ADMIN'">Approve</button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary" (click)="openConfirmation(confirmation, 'REJECT')"  appPermissionBind [role]="'ADMIN'">Reject</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!--<h6 class="modal-title text-uppercase">Modal title</h6>-->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-3">
        Image Name: {{chillerForm.value['imageName']}}
      </div>
      <div class="col-9">
        <ngx-image-zoom
          [thumbImage]=chiller.file.url
          [zoomMode]="'click'"
          [magnification]="2"
        ></ngx-image-zoom>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #confirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!--<h6 class="modal-title text-uppercase">Are</h6>-->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row text-center">
      <div class="col-12 mb-3 font-weight-bold">
        Are you sure you want to {{dialogStatus.toLowerCase()}} this
      </div>

      <div class="col-6">
        <button class="btn btn-danger" (click)="submitStatusDetails(dialogStatus)">Yes</button>
      </div>
      <div class="col-6">
        <button class="btn btn-warning" (click)="d('Cross click')">No</button>
      </div>
    </div>
  </div>
</ng-template>

<toaster-container></toaster-container>
