<div class="card">
  <div class="card-body">
    <form [formGroup]="chillerFilterForm" class="form-inline">
      <div class="form-group">
        <label for="fromDate">From</label>
        <input class="form-control mx-sm-3" placeholder="yyyy-mm-dd" id="fromDate" name="dp" formControlName="fromDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
      </div>
      <div class="form-group">
        <label for="toDate">To</label>
        <input class="form-control mx-sm-3" placeholder="yyyy-mm-dd" id="toDate" name="dp" formControlName="toDate" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
      </div>
      <div class="form-group">
        <label for="toDate">Status</label>
        <select class="form-control mx-sm-3" formControlName="status">
          <option value="">Status</option>
          <option value="APPROVED">Approved</option>
          <option value="REJECTED">Rejected</option>
          <option value="SUBMITTED">Submitted</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="search()">Search</button>
      </div>

    </form>
  </div>
</div>

<table class="table table-bordered table-striped mb-0">
  <thead>
  <tr>
    <th rowspan="2">
      S.No
    </th>
    <th rowspan="2">
      Preview
    </th>
    <th  rowspan="2">
      Image Name
    </th>
    <th  rowspan="2">
      Upload Date & Time
    </th>
    <th  rowspan="2">
      msisdn
    </th>
    <th  rowspan="2">
      CSM
    </th>
    <th  rowspan="2">
      Area
    </th>
    <th  rowspan="2">
      Day Count
    </th>
    <th  colspan="2">
      Clarity
    </th>
    <th  colspan="2">
      Image
    </th>
    <th  colspan="2">
      Purity
    </th>
    <th  colspan="2">
      Status
    </th>
  </tr>
  <tr>
    <th >
      Yes
    </th><th >
      No
    </th>
    <th >
      Yes
    </th><th >
      No
    </th>
    <th >
      Yes
    </th><th >
      No
    </th>
    <th >
      Status
    </th>
    <th >
      Remark
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let chiller of chillers; let i=index">
    <td>
      {{ ((paginate.page - 1) * paginate.perpage) + i + 1}}
    </td>
    <td>
      <img src="{{chiller.file.url}}" height="50px" width="50px">
    </td>
    <td class="wrap-word navigate" (click)="navigateToDetails(chiller)">
      {{chiller.file.name}}
    </td>
    <td>
      {{chiller.createdAt}}
    </td>
    <td class="wrap-word">
      {{chiller.user.msisdn}}
    </td>
    <td class="wrap-word">
      {{chiller.user.cSMNAME}}
    </td>
    <td class="wrap-word">
      {{chiller.user.state}}
    </td>
    <td>
      {{chiller.status === 'APPROVED' ? 1 : 0}}
    </td>
    <td>
      <label class="container">
        <input type="radio" [checked]="chiller.clarity === 1" [name]="'clarity-' + i" disabled>
        <span class="checkmark"></span>
      </label>
    </td>
    <td>
      <label class="container">
        <input type="radio" [checked]="chiller.clarity === 0" [name]="'clarity-' + i" disabled>
        <span class="checkmark fail"></span>
      </label>
    </td>
    <td>
      <label class="container">
        <input type="radio" [checked]="chiller.imageSize === 1" [name]="'image' + i" disabled>
        <span class="checkmark"></span>
      </label>
    </td>
    <td>
      <label class="container">
        <input type="radio" [checked]="chiller.imageSize === 0" [name]="'image' + i" disabled>
        <span class="checkmark fail"></span>
      </label>
    </td>
    <td>
      <label class="container">
        <input type="radio" [checked]="chiller.purity === 1" [name]="'purity' + i" disabled>
        <span class="checkmark"></span>
      </label>
    </td>
    <td>
      <label class="container">
        <input type="radio" [checked]="chiller.purity === 0" [name]="'purity' + i" disabled>
        <span class="checkmark fail"></span>
      </label>
    </td>
    <td>
      {{chiller.status}}
    </td>
    <td>
      {{chiller.moderatorRemark}}
    </td>
  </tr>
  </tbody>
</table>

<div class="row float-right">
  <ngb-pagination [collectionSize]="paginate.total" [pageSize]="paginate.perpage" [(page)]="paginate.page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="applyPagination($event)"></ngb-pagination>
</div>
