<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
  <ngb-panel title="Overview">
    <ng-template ngbPanelContent>
      <p>
        This documentation is to help you understand the template's structure. Please go through the documentation carefully to understand how this template is made and how to edit this properly. Basic HTML, CSS(SASS), JS(Typescript) and NodeJS knowledge is required to customize this template.
      </p>
      <p>
        If you have any questions that are beyond the scope of this help file, please feel free to get in touch.
      </p>
      <div class="alert alert-info">
        Support requests can go through the form
        <a href="http://themeforest.net/user/iamnyasha/?ref=iamnyasha" target="_blank">
          on my ThemeForest profile page
        </a>
        or via email.
      </div>

      <div class="alert alert-danger">
        You should have some knowledge of teminal/command line, NodeJS, NPM, SCSS and Typescript inorder to use this template.<br/> This is also an angular template, static files are not included and neither will this item work with Wordpress.
      </div>

      <p>
        Support for my items includes:
      </p>
      <ul>
        <li><a>
          Responding to questions or problems regarding the item and its features
        </a></li>
        <li><a>
          Fixing bugs and reported issues
        </a></li>
        <li><a>
          Providing updates to ensure compatibility with new software versions
        </a></li>
      </ul>
      <p>
        Item support does not include:
      </p>
      <ul>
        <li><a>
          Customization and installation services
        </a></li>
        <li><a>
          Support for third party software and plug-ins
        </a></li>
      </ul>
      <p>
        Before seeking support please:
      </p>
      <ul>
        <li><a>
          Make sure your question is a valid item Issue and not a customization request.
        </a></li>
        <li><a>
          Make sure you have read through the documentation and any related guides before asking support on how to accomplish a task.
        </a></li>
        <li><a>
          Make sure to double check the item FAQs.
        </a></li>
        <li><a>
          If you have customized your item and now have an issue, back-track to make sure you didn't make a mistake. If you have made changes and can't find the issue, please provide us with your changelog.
        </a></li>
        <li><a>
          Most of the time we find that the solution to people's issues can be solved with a simple "Google Search". You might want to try that before seeking support. You might be able to fix the issue yourself much quicker than we can respond to your request.
        </a></li>
        <li><a>
          Make sure to state the name of the item you are having issues with when requesting support via ThemeForest.
        </a></li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="What is it?">
    <ng-template ngbPanelContent>
      <p>
        Decima is a creative bootstrap admin template built for Angular 4+. It comes out of the box with AoT and lazy loading support, Language translation. With this, you get all you need to start working on your SAAS, CRM, CMS or dashboard based project.
      </p>
      <p>
        Once you've purchased Decima please consider giving a 5 star rating, it helps in pushing out more updates and adding a lot more features.
      </p>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Getting prerequisites">
    <ng-template ngbPanelContent>
      <p>This template is built with angular-cli and requires Node 6.9.0+ and NPM 3+ to be installed.</p>

      <p class="ff-headers text-uppercase mb-3"><strong>Installing the prerequisites</strong></p>
      <p><strong>Node.js and NPM:</strong> You can download Node.js from <a href="https://nodejs.org">https://nodejs.org</a>. NPM comes bundled with Node.js</p>

      <p><strong>angular-cli:</strong> You can install angular-cli by executing from your terminal <b>npm install -g @angular/cli</b>. More details can be found here <a href="https://github.com/angular/angular-cli">https://github.com/angular/angular-cli</a> </p>

      <p class="ff-headers text-uppercase mb-3"><strong>Installing the npm packages</strong></p>
      <p>Before proceding you'll need to install npm packages. You can do this by running <strong>npm install</strong> from the root of your project to install all the necessary dependencies.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Command line">
    <ng-template ngbPanelContent>
      <p class="ff-headers text-uppercase mb-3"><strong>Development server</strong></p>
      <p>Run <code>ng serve</code> for a dev server. Navigate to <code>http://localhost:4200/</code>. The app will automatically reload if you change any of the source files.</p>

      <p class="ff-headers text-uppercase mb-3"><strong>Code scaffolding</strong></p>
      <p>Run <code>ng generate component component-name</code> to generate a new component. You can also use <code>ng generate directive/pipe/service/class</code>.</p>

      <p class="ff-headers text-uppercase mb-3"><strong>Building</strong></p>
      <p>Run <code>ng build</code> to build the project. The build artifacts will be stored in the <code>dist/</code> directory. Use the <code>--prod</code> flag for a production build. Use <code>--aot</code> flag for a AoT build</p>

      <p class="ff-headers text-uppercase mb-3"><strong>Further help</strong></p>
      <p>To get more help on the <code>angular-cli</code> use <code>ng --help</code> or go check out <a href="https://github.com/angular/angular-cli">https://github.com/angular/angular-cli</a>.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Utility helpers">
    <ng-template ngbPanelContent>
      <p>
        These are all the available helper classes used in the template. Use these alongside the utility classess provided by bootstrap.
      </p>
      <p class="ff-headers text-uppercase mb-3"><strong>Avatars</strong></p>
      <ul>
        <li><a>
          <code>.avatar-status</code> Staus indicator for avatar images
        </a></li>
        <li><a>
          <code>.avatar-xxlg</code> avatar image with width of 32rem
        </a></li>
        <li><a>
          <code>.avatar-xlg</code> avatar image with width of 16rem
        </a></li>
        <li><a>
          <code>.avatar-lg</code> avatar image with width of 8rem
        </a></li>

        <li><a>
          <code>.avatar-md</code> avatar image with width of 4rem
        </a></li>
        <li><a>
          <code>.avatar-sm</code> avatar image with width of 3rem
        </a></li>
        <li><a>
          <code>.avatar-xs</code> avatar image with width of 2.125rem
        </a></li>
        <li><a>
          <code>.avatar-xxs</code> avatar image with width of 1.375rem
        </a></li>
      </ul>

      <p class="ff-headers text-uppercase mb-3"><strong>Layout</strong></p>
      <ul>
        <li><a>
          <code>.min-height-100 </code> min-height 100%
        </a></li>
        <li><a>
          <code>.page-height </code> page height minus the main header
        </a></li>
        <li><a>
          <code>.scroll-y </code> vertical scrollbars
        </a></li>
        <li><a>
          <code>.no-footer </code> remove the main footer
        </a></li>
      </ul>

      <p class="ff-headers text-uppercase mb-3"><strong>Typography</strong></p>
      <ul>
        <li><a>
          <code>.ff-sans </code> style text with the main sans font-family
        </a></li>
        <li><a>
          <code>.ff-serif </code> style text with the main serif font-family
        </a></li>
        <li><a>
          <code>.ff-headers </code> style text with the main headers font-family
        </a></li>
        <li><a>
          <code>.fw-300 </code> font weight of 300
        </a></li>
        <li><a>
          <code>.fw-400 </code> font weight of 400
        </a></li>
        <li><a>
          <code>.fw-500 </code> font weight of 500
        </a></li>
        <li><a>
          <code>.fw-600 </code> font weight of 600
        </a></li>
        <li><a>
          <code>.no-bg </code> remove background color
        </a></li>
        <li><a>
          <code>.shadow </code> add slight shadow hint
        </a></li>
        <li><a>
          <code>.no-shadow </code> remove shadow
        </a></li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Color palette">
    <ng-template ngbPanelContent>
      <p>Background colors are named using the format: bg-*color*-*shade*</p>
      <p><b>Where color is one of:</b> red, pink , purple, deep-purple, indigo, blue, light-blue, cyan, teal, green, light-green, lime, yellow, amber, orange, deep-orage, brown, grey, blue-grey</p>
      <p><b>Where shade is one of:</b> 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700</p>
      <p>e.g bg-red-500</p>
      <div class="row color-palette">
        <div class="col-md-4 mt-3" *ngFor="let color of colors">
          <ul class="list-group">
            <li class="list-group-item justify-content-between border-0 bg-{{color.options[5]}} ff-headers text-uppercase">
              {{color.name}}
            </li>
            <li class="list-group-item justify-content-between border-0 bg-{{option}}"  *ngFor="let option of color.options">
              {{option}}
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Third Party">
    <ng-template ngbPanelContent>
      <p>The following is a list of resources, plugins and other assets used in creating this template. Follow the links for more information on how you can use them.</p>
      <ol>
      <li><a href="https://angular.io/">Angular</a></li>
      <li><a href="http://getbootstrap.com/">Bootstrap 4 - Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</a></li>
      <li><a href="https://ng-bootstrap.github.io/">ng-bootstrap - Bootstrap 4 components, powered by Angular</a></li>
      <li><a href="http://www.ngx-translate.com/">ngx-translate - An implementation of angular translate for Angular</a></li>
      <li><a href="https://github.com/swimlane/ngx-charts">ngx-charts - Declarative Charting Framework for Angular2 and beyond!</a></li>
      <li><a href="https://github.com/swimlane/ngx-datatable">ngx-datatable - A feature-rich yet lightweight data-table crafted for Angular4 and beyond!</a></li>
      <li><a href="https://github.com/mattlewis92/angular-calendar">angular-calendar - Angular calendar - A flexible calendar component for angular 2.0+ that can display events on a month, week or day view.</a></li>
      <li><a href="https://github.com/500tech/angular-tree-component">angular-tree-component - A simple yet powerful tree component for Angular (>2)</a></li>
      <li><a href="https://github.com/text-mask/text-mask">text-mask - Input mask for React, Angular, Ember, Vue, & plain JavaScript</a></li>
      <li><a href="https://github.com/valor-software/ng2-dragula">ng2-dragula - Simple drag and drop with dragula</a></li>
      <li><a href="https://github.com/arkon/ng-sidebar">ng-sidebar - Angular sidebar component</a></li>
      <li><a href="https://github.com/valor-software/ng2-file-upload">ng2-file-upload - Easy to use Angular2 components for files upload</a></li>
      <li><a href="https://github.com/yuyang041060120/ng2-validation">ng2-validation - angular2 validation</a></li>
      <li><a href="http://quilljs.com/">Your powerful, rich text editor</a></li>
      <li><a href="https://github.com/sindresorhus/screenfull.js/">screenfull - Simple wrapper for cross-browser usage of the JavaScript Fullscreen API</a></li>
      <li><a href="https://github.com/SebastianM/angular-google-maps">angular-google-maps - Angular 2+ Google Maps Components</a></li>
      <li>Header Font generated by <a href="http://www.flaticon.com">flaticon.com</a>. Under <a href="http://creativecommons.org/licenses/by/3.0/">CC</a>: <a data-file="003-notification" href="http://www.flaticon.com/authors/bryn-taylor">Bryn Taylor</a>, <a data-file="005-close" href="http://www.flaticon.com/authors/eugene-pavovsky">Eugene Pavovsky</a>, <a data-file="001-caret" href="http://www.flaticon.com/authors/dave-gandy">Dave Gandy</a>, <a data-file="002-search" href="http://www.flaticon.com/authors/gregor-cresnar">Gregor Cresnar</a>, <a data-file="004-fullscreen" href="http://www.flaticon.com/authors/hadrien">Hadrien</a></li>
      </ol>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
