<div class="row container-fluid dashboard-container">
  <div class="col-lg-4" *ngFor="let option of options">
    <div class="card bg-purple card-inverse">
      <!--<div class="card-header">
        {{option.title}}
      </div>-->
      <div class="card-body text-center">
        <h1>{{option.title}}</h1>
      </div>
    </div>
  </div>
</div>
